*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2{
    margin-top: 20px;
    text-align: center;
}

.product-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 900px;
   margin: auto;
}
.product{
    display: flex;
    align-items: center;
}

img{
    margin-right: 20px;
}

.bottomSec{
 float: right;
    
}




button{
    color: turquoise;
    background: turquoise;
    color: white;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
    width: 150px;
    height: 40px;
    margin-top: 140px;
    border: 1px solid turquoise;
    outline: none;
    cursor: pointer;
}