
.header-container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #444;
}

.header-container nav {
    display: flex;
    justify-content: space-between;
    width: 70rem;
}

.header-container h1 {
    color: #fff;
    margin-left: 20px;
}

.nav-links {
    color: #fff;
    text-decoration:none;
}

.nav-links:hover {
    transition: all 0.3s ease-in-out;
    color: #ff7300;
}

.icons {
    margin-right: 20px;
}

.icon-link {
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.icon-link:hover {
    color: #439feb;
}

#mobile-menu {
    display: none;
    width: fit-content;
}

@media screen and (max-width: 1500px) {
    .header-container nav {
        width: 60rem;
    }

    .nav-links {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 1325px) {
    .nav-menu {
        margin: 0;
        position: absolute;
        top: -1000px;
        width: 100%;
        height: auto;
        z-index: -1;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        width: 100%;
        padding: 20px 0;
        height: fit-content;
    }

    .nav-menu.active {
        display: flex;
        flex-direction: column;
        background: #444;
        top: 80px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: auto;
        font-size: 1.6rem;
        width: 100%;
    }

    .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .bar {
        display: block;
    }

    .icons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 150px;
    }

    #mobile-menu {
        display: block;
        cursor: pointer;
    }

    .nav-toggle:hover .bar{
        background-color: #439feb;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
